{{!-- main.hbs --}}
<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis Visualization</title>
	<link href="./main.css" rel="stylesheet" type="text/css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
  	<h2>{{{body}}}<h2> 
  </body>
</html>